{% load static %}
<!doctype html>
<html>
    <head>
        <title>Whatsapp Prayer Bot</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        
    </head>
<body>
<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->
    <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
    <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
    
    </svg>
    <h1>WHATSAPP Automated Prayer notification</h1>
    </div>

    <h2>STEP-1 Click the Button below and send the message</h2>
    <a href="https://api.whatsapp.com/send?phone=14155238886&text=join%20many-among" class="wp">
        <!-- ícone -->
        <i class="fa fa-whatsapp"></i>
        whatsapp
      </a>
      </a>
    <h2>STEP-2 After sending the by the above link please fill the form below</h2> 
    <div class="form1" style="height: 450px; overflow:hidden">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScE5hJ7qLZBigCWQNgIX-MJeSB_hSpIVZG8KniyRq-EJY54PA/viewform?embedded=true" width="800" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper" id="010">
  <ul>
    <li class="facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <div class="slider">
        <p>facebook</p>
      </div>
    </li>
    
    <li class="twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <div class="slider">
        <p>twitter</p>
      </div>
    </li>
    
    <li class="instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <div class="slider">
        <p>instagram</p>
      </div>
    </li>
    
    <li class="google">
      <i class="fa fa-google" aria-hidden="true"></i>
      <div class="slider">
        <p>google</p>
      </div>
    </li>
    
    <li  class="whatsapp" >
        <a href="https://api.whatsapp.com/send?phone=919911637649">
      <i   class="fa fa-whatsapp" aria-hidden="true"></i></a>
      <div  class="slider">
        <p><a href="https://wa.link/0vy4kl">whatsapp</a></p>
      </div>
    </li>
  </ul>
</div>


    <!--Waves Container-->
</div>


    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->

    <!--Content ends-->
</body>    
    
</html>